
*.pper
.Rproj.user/856B2089/persistent-state
*.tif
.Rhistory
.Rproj.user/856B2089/rmd-outputs
.Rproj.user/856B2089/saved_source_markers
.Rproj.user/856B2089/sources/per/t/9841DBCE
.Rproj.user/856B2089/sources/per/t/9841DBCE-contents
.Rproj.user/856B2089/sources/per/t/BCF4C2F1
.Rproj.user/856B2089/sources/per/t/BCF4C2F1-contents
.Rproj.user/856B2089/sources/per/t/F2979413
.Rproj.user/856B2089/sources/per/t/F2979413-contents
.Rproj.user/856B2089/sources/prop/319F8139
.Rproj.user/856B2089/sources/prop/4F4EE1A5
.Rproj.user/856B2089/sources/prop/53E8F4D4
.Rproj.user/856B2089/sources/prop/A8F94204
.Rproj.user/856B2089/sources/prop/INDEX
.Rproj.user/856B2089/sources/prop/INDEX~Stashed changes
.Rproj.user/shared/notebooks/paths
